html, body {
  width: 100vw;
  height: 100vh;
  background-color: #222222;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
}

.sudoku-root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
}

@media only screen and (min-width: 600px) {
	.sudoku-holder{
		width: 600px;
		height: 650px;
		background-color: #FFF;
		margin: 0 auto;
		border-radius: 10px;
		box-shadow: 5px 5px 0px 0px #f3d676;
		position: relative;
		display: flex;
		justify-content: center;
	}

  .sudoku-container {
		margin: auto;
    box-sizing: content-box;
    border: 3px solid blueviolet;
    margin: auto;
    width: 540px;
    height: 540px;
    display: table;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
  }
  
  tr:nth-child(3n) td {
    border-bottom: 3px solid blueviolet;
  }
  
  .sudoku-number {
    font-size: 180%;
    width: 60px;
    height: 60px;
    display: table-cell;
    line-height: 50px;
    text-align: center;
    border: 1px solid blueviolet;
    background-color: #f0ae57;
  }
  
  .sudoku-number:nth-child(3n){
    border-right: 3px solid blueviolet;
  }
  
  .div-container{
    width: 200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
		justify-content: center;
  }
  
  .button-sudoku {
    height: 60px;
    width: 60px;
    background-color: rgb(143, 212, 228);
    margin: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid rgb(40, 199, 8);
    border-radius: 50%;
		transition: 1s ease;
  }
  
  .button-sudoku:hover{
    background-color: rgb(247, 97, 222);
    border: 1px double orange;
		transition: 1s ease;
  }
}

@media only screen and (max-width: 600px) {
	.sudoku-holder{
		width: 300px;
		height: 360px;
		background-color: #FFF;
		margin: 0 auto;
		border-radius: 10px;
		box-shadow: 5px 5px 0px 0px #f3d676;
		position: relative;
		display: flex;
		justify-content: center;
	}

  .sudoku-container {
    box-sizing: content-box;
    border: 2px solid blueviolet;
    margin: auto;
    width: 270px;
    height: 270px;
    display: table;
  }
  
  tr:nth-child(3n) td {
    border-bottom: 2px solid blueviolet;
  }
  
  .sudoku-number {
    font-size: 180%;
    width: 30px;
    height: 30px;
    display: table-cell;
    line-height: 25px;
    text-align: center;
    border: 1px solid white;
    background-color: #f3d676;      
  }
  
  .sudoku-number:nth-child(3n){
    border-right: 2px solid blueviolet;
  }
  
  .div-container{
    width: 50px;
    height: 25px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .button-sudoku {
    height: 30px;
    width: 30px;
    background-color: rgb(143, 212, 228);
    margin: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid rgb(40, 199, 8);
    border-radius: 50%;
    font-size: 1.3vw;
		transition: 1s ease;
  }
  
  .button-sudoku:hover{
    background-color: rgb(247, 97, 222);
    border: 1px double orange;
		transition: 1s ease;
  }
}